<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Saisie depense with menu icon" (click)="goToSaisie()">
    <img [src]="imageDepense" class="pull-left fullsize">
  </button>
  <button mat-icon-button aria-label="Synthese depense with menu icon" (click)="goToSynthese()">
    <img [src]="imageSynthese" class="pull-left fullsize">
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="goToUser()">
    <mat-icon> person</mat-icon>
  </button>
</mat-toolbar>
<!-- <router-outlet></router-outlet> -->