<mat-card>
    <mat-card-title>Qui ?</mat-card-title>
    <mat-card-subtitle>Répartition des dépenses en septembre</mat-card-subtitle>
<p-chart type="radar" [data]="dataGroupByAppartenance" [options]="chartOptions" rowheight="1:1" [style]="{'width': '100%'}"></p-chart>
</mat-card>
<mat-card>
    <mat-card-title>Commun</mat-card-title>
    <mat-card-subtitle>Répartition des dépenses en septembre</mat-card-subtitle>
<p-chart type="polarArea" [data]="data" [options]="chartOptions" rowheight="1:1" [style]="{'width': '100%'}"></p-chart>
</mat-card>
<mat-card>
    <mat-card-title>Jean</mat-card-title>
    <mat-card-subtitle>Répartition des dépenses  en septembre</mat-card-subtitle>
<p-chart type="polarArea" [data]="data" [options]="chartOptions" rowheight="1:1" [style]="{'width': '100%'}"></p-chart>
</mat-card>
<mat-card>
    <mat-card-title>Nadège</mat-card-title>
    <mat-card-subtitle>Répartition des dépenses en septembre</mat-card-subtitle>
<p-chart type="polarArea" [data]="data" [options]="chartOptions" rowheight="1:1" [style]="{'width': '100%'}"></p-chart>
</mat-card>
 <!-- radar -->
 <!-- polarArea -->