
  .fullWidth{
    width: 95%;
    max-width: 400px;
  }
  .mat-icon-button.large {

    width: 64px;
    height: 64px;
    line-height: 64px;

    .mat-icon {
      font-size: 64px;
      width: 64px;
      height: 64px;
      line-height: 64px;
    }


  }
  .mat-card-image{
    width: 128px;
    height: 128px;
    // line-height: 64px;
  }

  .icon-quoi{
    width: 90px;
    height: 90px;
    // line-height: 64px;
  }