<mat-stepper mat-horizontal-stepper linear="false" #stepper>
  <!-- Appartenance -->
  <mat-step label="Qui" >
    <div *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <mat-grid-list cols="1" rowHeight="180px">
      <div *ngFor="let appartenanceIter of appartenances">
        <mat-grid-tile>
          <button matStepperNext mat-button type="button" class="btn btn-primary-outline pull-left large"
            (click)="onClickQui(appartenanceIter.appartenance.id);">
            <i class="fa fa-plus"></i>
            <img mat-card-image [src]="appartenanceIter.urlDisplay">
            <br>
            {{appartenanceIter?.appartenance?.caption}}

          </button>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </mat-step>
  <!-- Catégorie -->
  <mat-step label="Quoi" >
    <mat-grid-list cols="2" rowHeight="150px">
      <div *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>      
      <div *ngFor="let groupIter of groups ">
        <mat-grid-tile>
          <button matStepperNext mat-button type="button" class="btn btn-primary-outline pull-left"
            (click)="onClickQuoi(groupIter);"><i class="fa fa-plus"></i><img mat-card-image class="icon-quoi"
              [src]="groupIter.urlDisplay">
              <br>
              {{groupIter?.group?.caption}}              
            </button>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </mat-step>
  <!-- Depense -->
  <mat-step label="Action" >
    <app-depense [formControl]="depenseForm"></app-depense>
    <div>
      <button mat-button (click)="stepper.reset()">Retour</button>
    </div>
  </mat-step>
</mat-stepper>