<mat-grid-list cols="3" rowHeight="340px">
    <mat-grid-tile 
    [colspan]="3"
     >
        <mat-card>
          <mat-card-title-group>
            <mat-card-title>Electrecité</mat-card-title>
            <mat-card-subtitle>Commun</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
            <mat-form-field appearance="fill">
              <mat-label>Valeur</mat-label>
              <input matInput type="number" placeholder="dépense ou gain" value="10">
            </mat-form-field>
            <mat-form-field appearance="fill" class="caption">
              <mat-label>Description</mat-label>
              <input matInput  placeholder="description" value="-">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-raised-button aria-label="Faites rentrer de l'argent" (click)="addOperation()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-raised-button aria-label="Dépenser de l'argent" (click)="removeOperation()">
              <mat-icon>remove</mat-icon>
            </button>
      </mat-card-actions>            
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list cols="1" rowHeight="285px">
    <mat-grid-tile 
    [colspan]="1" 
   >
   <mat-card>
    <mat-card-title-group>
      <mat-card-title>Reste {{compteModel?.budgetLeft}} euros</mat-card-title>
      <mat-card-subtitle>Consommé {{compteModel?.budgetSpent}} sur {{compteModel?.budgetExpected}} euros</mat-card-subtitle>
    </mat-card-title-group>        
    <mat-card-content>
      <p-chart type="bar" 
      [data]="graphData" 
      [options]="horizontalOptions" 
      [responsive]="true" 
      width="75vw" 
      height="25vh" ></p-chart>
              </mat-card-content>
  </mat-card>
    </mat-grid-tile>  
   
  </mat-grid-list>
  
  <mat-grid-list cols="1" rowHeight="400px">
    <mat-grid-tile [colspan]="1" >
      <mat-card>
        <mat-card-title>Historique</mat-card-title>
        <mat-card-subtitle>Au 06 septembre 2021</mat-card-subtitle>
    <mat-card-content>
      <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="dateOperation">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.dateOperation?.getDate()}}-{{getMonthLocal(element.dateOperation?.getMonth())}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef> Valeur </th>
              <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="caption">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.caption}} </td>
            </ng-container>
          
              <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <button mat-button (click)="onDeleteRow(element)" ><mat-icon>delete_outline</mat-icon></button>
          <!-- <a (click)="onDeleteRow(element)">Delete</a>   -->
        </td>
      </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>        
        </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>  